@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

a {
  color: #29cece;
  text-decoration: none;
}

a:hover {
  color: yellow; 
  text-decoration:none; 
  cursor:pointer;  
}

body {
  font-family: 'Play', sans-serif;
  color: #03A6A6;
}

.callout {
  font-size: x-large;
  font-weight: 700;
}

h1 {
  color: #FFF;
}

h2 {
  color: #FFF;
}

/*
// Responsive layout media query specifics:
@media (min-width:576px) {
  body {
    font-size: 22px;
  }
}
@media (min-width:768px) {
  body {
    font-size: 24px;
  }
}
@media (min-width:992px) {
  body {
    font-size: 34px;
  }
}*/