@font-face {
  font-family: 'Open Sans Italic';
  /*src: url('./OpenSansItalic.eot');*/
  src: /*url('./OpenSansItalic.eot?#iefix') format('embedded-opentype'),
       url('./OpenSansItalic.woff') format('woff'),*/
       url('./OpenSans-Italic.ttf') format('truetype')/*,
       url('./OpenSansItalic.svg#OpenSansItalic') format('svg')*/;
  font-weight: normal;
  font-style: italic;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #FFF;
}

h1 {
  color: #FFF;
}

/*
// Responsive layout media query specifics:
@media (min-width:576px) {
  body {
    font-size: 22px;
  }
}
@media (min-width:768px) {
  body {
    font-size: 24px;
  }
}
@media (min-width:992px) {
  body {
    font-size: 34px;
  }
}*/