@import url(./Assets/Fonts/fonts.scss);

body {
  // Overrides default 8px margin on some browsers
  margin: 0px;
  text-align: justify;
  text-justify: inter-word;
}

button {
  background-color: #3498DB;
  margin-top: 2px;
  margin-right: 2px;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;  
}

button:disabled {
  background-color: gray;
}

input {
    background: transparent;
    border: none;
    outline: none;
    color:lime;
    font-family: 'Play', sans-serif;
    font-size: 24px;
}

ul {
  list-style-type: none;
  margin:0px;
  padding:0px 0px 0px 7px;
}

.component-wrapper {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #011126;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .header {
    width:100%;  
    background-image: url('./Assets/Images/header_background.jpg');
    background-size: cover;
    background-position-y: 60%;
    background-color: #011126;
    background-color: rgb(103, 117, 117);
    h1 {
        color: #FFF;
        font-family: 'Play', sans-serif;
    }
    text-align: center;
    .responsive {
      max-width: 90%;
      max-height: 350px;
    }
  }
  .widget {
    width:100%;
    //background-color: #011C40;
    background-color:rgb(93, 96, 128);
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 10px;
  }
}

.column-container {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  font-size: small;
}

.point-value {
  font-size:xx-large;
  color:white;
}

.points-distributor-wrapper {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid hotpink;
  margin-top: 5px;
  margin-bottom: 10px;
  .selection-dropdown {
    text-align: center;
  }
}

.points-distributor-category {
  //border: 1px dotted gold;
  text-align: center;
  flex-grow: 0.75;
  width: 15%;
  .category-name {
    size: 16px;
    font-weight: 700;
  }
}

.points-distributor-control-panel {
  //border: 1px dotted skyblue;
  button {
    width:100%;
    height: 50%;
  }
}

.points-distributor-value {
  //border: 1px dotted white;
  flex-grow: 6;
  width:50%;
  padding-left: 10px;
  padding: 3px 5px 3px 7px;
  font-size: small;
  font-weight: 700;
}