@import url(./Assets/Fonts/fonts.scss);

//Class style rules:

body {
  // Overrides default 8px margin on some browsers
  margin: 0px;
}

.container {
  background-color: #222222;
  display: flex;
  flex-direction: column;
  .header {
      background-color: darkslategrey;
      padding: 15px 20px;
      background-color: rgb(103, 117, 117);
      h1 {
          color: #FFF;
          font-family: 'Open Sans Italic';
      }
      text-align: center;
  }
}

.points-distributor-wrapper {
  display: flex;
  flex-direction: row;
  .points-distributor-category {
    width: 33%;
    text-align: center;
  }
  .points-distributor-control-panel {
    width: 33%;
    text-align: center;
  }
  .points-distributor-value {
    width: 33%;
    text-align: center;
  }
}

.responsive {
  max-width: 900px;
  height: auto;
}

.pickup-skills-wrapper {
  background-color: #222222;
  display: flex;
  flex-direction: row;
}

.split-display {
  display: flex;
  flex-direction: row;
  .split-display-child {
    width: 50%;
  }
}

.widget {
  align-self: center;
  max-width: 900px;
  background-color: darkslategrey;
  margin: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
}