@import url(./Assets/Fonts/fonts.scss);

body {
  // Overrides default 8px margin on some browsers
  margin: 0px;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: yellow; 
  text-decoration:none; 
  cursor:pointer;  
}

ul {
  list-style-type: none;
  margin:0px;
  padding:0px 0px 0px 7px;
}

input {
  background-color: #011126;
  color: #D90452;
}

.component-wrapper {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #011126;
  .header {
      background-image: url('./Assets/Images/header_background.jpg');
      background-size: cover;
      background-position-y: 60%;
      background-color: #011126;
      padding: 15px 20px;
      background-color: rgb(103, 117, 117);
      h1 {
          color: #FFF;
          font-family: 'Open Sans Italic';
      }
      text-align: center;
  }
}



.responsive {
  max-width: 900px;
  height: auto;
}

.widget {
  width:600px;
  //background-color: #011C40;
  background-color:rgb(93, 96, 128);
  margin: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
}